.booking-form {
    background-color: #EDE8F5;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-left: 500px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.booking-form h2, .booking-form h3 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
}

.booking-form label {
    display: block;
    margin: 20px 0 5px;
}

.booking-form input, .booking-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.booking-form textarea {
    resize: vertical;
    height: 60px;
}

.booking-form button {
    margin-left: 180px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}